.outer{
    height: 100%;
}

.texto {
    width: 600px;
    padding-top: 100px;
    padding-bottom: 100px;
    height: 800px;
}

.texto .titulo {
    font-weight: 600;
    font-size: 50px;
    margin-bottom: 50px;
}

.texto p {
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 30px;
}

.texto a {
    cursor: pointer;
    text-decoration: none;
}

.image img {
    height: 100%;
}

.gray-text {
    color: #515151;
}