.info {
    height: 100px;
}

.info p {
    width: 500px;
    height: 10px;
}

.servicios {
    min-height: calc(100vh - 145px);
    padding-left: 10vw;
    padding-right: 10vw;
}

.servicios .titulo {
    height: 10%;
    font-weight: 600;
    font-size: 40px;
    margin-top: 40px;
    margin-bottom: 40px;
} 

.servicios .titulo .subtitulo {
    color: black;
    font-weight: 600;
    font-size: 20px;
}


.highlight {
    color: #656565;
}

.cards {
    height: 500px;
}

.card {
    height: 400px;
    width: 400px;
    border: 0px;
    box-shadow: rgba(149, 157, 165, 0.3) 0px 8px 24px;
    padding: 10px;
    cursor: pointer;
}

.card-img-top {
    padding: 10px;
}

.card-body {
    
}

.card-body .card-title {
    font-weight: 600;
    font-size: 20px;
}

.card-body .card-link {
    font-weight: 500;
    font-size: 15px;
}

.card-body .card-info {
    font-weight: 500;
    font-size: 15px;
    display: none;
    opacity: 0;
}

.square {
    width: 300px;
    height: 300px;
    overflow: hidden;
}

.square img{
    display: block;
    height: 100%;
    object-fit: contain;
}

.detailed-info {
    display: none;
    margin-bottom: 100px;
    padding: 0px;
}

.detailed-card {
    padding: 0px;
    width: 80vw;
    background-color: white;
    border: 0px;
    box-shadow: rgba(149, 157, 165, 0.3) 0px 8px 24px;
    border-radius: 0.5rem;
}

.detailed-item {
    margin-left: 50px;
    padding-right: 70px;
    padding-bottom: 20px;
}

.detailed-description {
    width: 100%;
    background-color: #fafafa;
    padding-right: 200px;
}

.description {
    height: 100%;
    width: 50%;
    padding-left: 50px;
    padding-top: 40px;
}

.description-title {
    font-weight: 600;
    font-size: 30px;
}

.description-service {
    font-weight: 600;
    font-size: 35px;
}

.description-item {
    font-weight: 600;
    font-size: 20px;
}

.description-price {
    padding: 40px;
    background-color: #121212;
    border-radius: 0.5rem;
    border: 0px;
    box-shadow: rgba(149, 157, 165, 0.7) 0px 8px 24px;
    width: 410px;
}

.description-price p {
    color: white;
}

.reserva {
    padding: 0px;
    width: 80vw;
    background-color: white;
    border: 0px;
    box-shadow: rgba(149, 157, 165, 0.3) 0px 8px 24px;
    border-radius: 0.5rem;
    display: none;
    margin-bottom: 100px;
}

.reserva-titulo {
    padding-left: 100px;
    padding-top: 20px;
}

.reserva-titulo p {
    font-weight: 600;
    font-size: 40px;
}

.reserva-campos {
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 40px;
    height: 350px;
}

.reserva-contacto {
    background-color: #121212;
    border-radius: 0.5rem;
    border: 0px;
    box-shadow: rgba(149, 157, 165, 0.7) 0px 8px 24px;
    padding: 40px;
    width: 450px;
}

.reserva-contacto p {
    color: white;
}

.reserva-contacto .titulo {
    font-weight: 600;
    font-size: 20px;
    margin: 0px;
    margin-bottom: 30px;
}

.reserva-contacto input {
    height: 40px;
    border: 0px;
    border-radius: 0.5rem;
    padding: 10px;
    margin-bottom: 20px;
}

.reserva-contacto .inputs {
    height: 90%;
}

.reserva-datos {
    background-color: #121212;
    border-radius: 0.5rem;
    border: 0px;
    box-shadow: rgba(149, 157, 165, 0.7) 0px 8px 24px;
    padding: 40px;
    width: 450px;
}

.reserva .titulo {
    color: white;
}

.reserva-datos .titulo {
    font-weight: 600;
    font-size: 20px;
    margin: 0px;
    margin-bottom: 30px;
}

.reserva-datos input {
    height: 40px;
    border: 0px;
    border-radius: 0.5rem;
    padding: 10px;
    margin-bottom: 20px;
}

.reserva-datos .inputs {
    height: 90%;
}

.datepicker {
    background-color: #121212;
    border-radius: 0.5rem;
    border: 0px;
    box-shadow: rgba(149, 157, 165, 0.7) 0px 8px 24px;
    padding: 40px;
    width: 250px;
}

.datepicker p,a,span {
    color: white;
}

.reserva-boton {
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 40px;
    height: 70px;

    background-color: #f6f6f6;
    border-radius: 0.5rem;
    border: 0px;
    box-shadow: rgba(149, 157, 165, 0.7) 0px 8px 24px;
    cursor: pointer;
}

.reserva-boton p {
    font-weight: 600;
    font-size: 30px;
    width: 800px;
    margin: 0px;
}

.reserva-mensaje {
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 40px;
    height: 70px;

    background-color: #f6f6f6;
    border-radius: 0.5rem;
    border: 0px;
    box-shadow: rgba(149, 157, 165, 0.7) 0px 8px 24px;

    display: none;
}

.reserva-mensaje p {
    font-weight: 600;
    font-size: 20px;
    width: 600px;
    margin: 0px;
}

.error {
    display: none;
    margin: 0px;
    margin-right: 100px;
}

.error p {
    font-weight: 600;
    font-size: 20px;
    margin: 0px;
}
